<div class="container my-3">
  <div class="col-9 col-md-7 col-lg-6 mx-auto mt-5">
    <div class="text-white text-title">
      <i class="fas fa-coins"></i> 總金額
    </div>
    <div class="d-flex justify-content-center mb-2">
      <div class="money-title text-white">15395</div>
    </div>
  </div>
  <div class="col-10 col-md-8 col-lg-7 mx-auto mt-2">
    <div class="d-flex justify-content-end">
      <form action="/" method="POST">
        <select class="btn btn-outline-light" name="category">
          <option disabled selected hidden>--- 類別 ---</option>
          <option value="house">-- 家居物業 --</option>
          <option value="traffic">-- 交通出行 --</option>
          <option value="entertainment">-- 休閒娛樂 --</option>
          <option value="food">-- 餐飲食品 --</option>
          <option value="others">-- 其他 --</option>
        </select>
      </form>
    </div>
    <div class="cards mt-3">
      {{#each record}}
      <div class="card-body row justify-content-around bg-light mb-1">
        <div class="card-image col-1 d-flex justify-content-center align-items-center">
          <i class="{{{getIcon this.category ../category}}} font"></i>
        </div>
        <div class="card-text row col-7">
          <div class="col-12 align-self-center text-item">{{ this.name }}</div>
          <div class="col-12 align-self-center text-date">{{ this.date }}</div>
        </div>
        <div class="card-price col-2 d-flex justify-content-center align-items-center">
          <div class="text-number">${{ this.amount }}</div>
        </div>
        <div class="card-buttons col-2">
          <button class="btn-sm btn-success col-12 my-1"><i class="fas fa-edit"></i></button>
          <button class="btn-sm btn-danger col-12 my-1"><i class="fas fa-trash-alt"></i></button>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</div>