<div class="container my-5">
  <form action="/" method="POST">
    <select name="category">
      <option disabled selected hidden>--- 類別 ---</option>
      　<option value="house">-- 家居物業 --</option>
      　<option value="traffic">-- 交通出行 --</option>
      　<option value="entertainment">-- 休閒娛樂 --</option>
      　<option value="food">-- 餐飲食品 --</option>
      <option value="others">-- 其他 --</option>
    </select>
  </form>
</div>