body {
  padding-top: 65px;
}

.index-body {
  padding-top: 175px;
}

.fix {
  position: fixed;
  top: 12%;
  left: 20%;
  z-index: 1020;
  background-color: rgba(0, 0, 0, 0.85);
  padding: 10px;
  border-radius: 15px;
}

.fixleft {
  position: fixed;
  top: 12%;
  left: 2%;
  z-index: 1020;
}

.card-body {
  border-radius: 5px;
  box-shadow: -15px 12px 5px #9ca0b9;
}

.bold {
  font-weight: bold;
}

.btn:active,
.btn-sm:active {
  transform: scale(0.96);
  transition: transform 0.1s;
}

.text-title {
  font-size: 1.5em;
}

.money-title {
  font-size: 4em;
  letter-spacing: 0.05em;
}

.font {
  font-size: 2.2em;
  color: #496c99;
}

.text-item {
  font-size: 1.7em;
}

.text-date {
  font-size: 0.9em;
}

.text-merchant {
  font-size: 0.9em;
  font-weight: 500;
  font-family: Verdana, sans-serif;
  background-color: beige;
  border-radius: 5px;
}

.text-number {
  font-size: 2em;
  font-family: monospace, sans-serif;
}

.bd {
  border: red 1px solid;
}
